*, ::before, ::after {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

body {
   margin: 0;
   font-size: 15px;
   font-family: 'Noto Sans', sans-serif;
   background-color: #f5f5f5;
   color: #202124;
}

button {
   padding: 0;
   border: none;
   background-color: transparent;
   outline: none;
   height: 3.2rem;
   width: 3.2rem;
   line-height: 3.2rem;
   cursor: pointer;
   border-radius: 50%;
}

h1 {
   color: #000;
   text-align: center;
   font-weight: 400;
}

input {
   outline: none;
   padding-left: 4.8rem;
   border: none;
   height: 3.2rem;
   font-size: 1.2rem;
   width: 100%;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
svg {
   vertical-align: middle;
   fill: rgba(0, 0, 0, 0.5);
   height: 1.6rem;
   width: 1.6rem;
}

#todo {
   margin: 0 auto;
   max-width: 40rem;
   background-color: #fff;
   overflow: hidden;
}

::placeholder {
   color: #9aa0a6;
}
.activeList {
   border-bottom: 1px solid #dadce0;
}
.activeList li, .inActiveList label, .inActiveList li {
   height: 3.2rem;
   line-height: 3.2rem;
   padding: 0 1rem 0 4.8rem;
   cursor: pointer;
   position: relative;
   transition: background-color .2s linear;
}

.activeList li:hover {
   background-color: rgba(12, 110, 175, 0.1);
}

.activeList li:hover .buttonList {
   display: block;
}

.addListInput {
   border-bottom: 1px solid #dadce0;
}

.addForm {
   position: relative;
}

.add {
   position: absolute;
   left: 0.53rem;
}
.svgAdd {
   background-image: url("add.svg");
}
.svgDelete {
   background-image: url("delete.svg");
}
.svgChecked {
   background-image: url("check.svg");
}

.buttonList {
   display: none;
   position: absolute;
   top: 50%;
   transform: translate3d(0, -50%, 0);
   transition: display .2s linear;
}

.checked {
   right: 4rem;
}

.delete {
   right: 0.53rem;
}

.inActiveText {
   display: block;
   height: 3.2rem;
   line-height: 3.2rem;
   padding: 0 1rem 0 4.8rem;
   cursor: pointer;
   background-color: #f5f5f5;
   position: relative;
   transition: background-color .2s linear;
}
.inActiveIcon {
   position: absolute;
   background-image: url("arrowDown.svg");
   left: 1.38rem;
   vertical-align: middle;
   fill: rgba(0, 0, 0, 0.5);
   height: 1.6rem;
   top: 50%;
   transform: translate3d(0, -50%, 0);
   width: 1.6rem;
   transition: transform .3s ease-in-out;
}
.open {
   transform: rotate(-180deg) translate3d(0, 50%, 0);
}
.inActiveText:hover {
   background-color: rgba(0, 0, 0, .1);
}

.inputMenu {
   height: 0;
   width: 0;
   -webkit-appearance: none;
   appearance: none;
   position: absolute;
}
.inputMenu:checked + .inActiveList li{
   display: block;
}
.inActiveList li {
   display: none;
   background-color: #f5f5f5;
   color: #80868b;
   text-decoration: line-through;
}

.inActiveList li:hover {
   background-color: rgba(0, 0, 0, .1);
}

.inActiveList li:hover .buttonList {
   display: block;
}

.remove {
   right: 4rem;
}
.svgDelete {
   background-image: url("delete.svg");
}